@charset "UTF-8";
body {
  background: white;
  margin: 0 0 60px 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 300;
  color: #2B3033; }
  body.overlay-visible {
    overflow-y: hidden; }

h1, h2, h3, h4, h5 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  text-transform: lowercase; }

.main {
  max-width: 960px;
  padding: 0 20px;
  margin: 20px auto; }

a {
  color: #50E3C2;
  text-decoration: underline; }

.hidden {
  display: none; }

header {
  max-width: 960px;
  margin: 0 auto;
  text-transform: lowercase; }
  header h1 {
    font-size: 98px;
    line-height: 88px;
    margin: 0;
    padding: 120px 0 0 0; }
    header h1 .firstname, header h1 .lastname {
      display: block; }
  header h2 {
    margin: 2em 0 1em 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px; }
  header ul {
    margin: 1em 0;
    padding: 0; }
    header ul li {
      list-style: none;
      display: inline-block;
      margin-right: 2em;
      line-height: 2em;
      font-weight: 700;
      color: #50E3C2;
      position: relative; }
      header ul li a {
        text-decoration: none; }
  header ul.popup {
    margin: 0;
    display: none;
    position: absolute;
    background: rgba(30, 30, 30, 0.9); }
    header ul.popup li {
      display: block;
      margin: 0.5em 1em; }
  header li:hover ul.popup {
    display: block;
    z-index: 500; }

div.personal::after {
  clear: both;
  content: "";
  display: block; }
div.personal .col {
  width: 50%;
  float: left; }
  div.personal .col:first-child > * {
    margin-right: 20px !important; }
  div.personal .col:last-child > * {
    margin-left: 20px !important; }

section.looking-for-work {
  background-color: #d4f8f0;
  padding: 1em 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  section.looking-for-work p {
    font-size: 1.1em;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    color: #20c7a1; }

section.detail {
  margin-top: 60px; }
  section.detail h2 {
    font-size: 2em;
    line-height: 1.1em; }
  section.detail ul {
    margin: 0;
    padding: 0; }
    section.detail ul li {
      list-style: none;
      margin: 0;
      padding: 0.5em 0; }
      section.detail ul li ul li {
        font-size: 0.9em;
        margin-left: 1.1em;
        padding-left: 0em;
        list-style: disc; }
  section.detail .date {
    font-weight: bold; }
  section.detail .what {
    margin-left: 0.1em; }
    section.detail .what:after {
      content: ' ';
      display: block; }

footer {
  font-size: 70%;
  padding: 0;
  margin: 60px 0;
  padding-top: 1em;
  border-top: 1px solid #50E3C2;
  opacity: 0.5; }

section.gallery {
  margin-top: 60px;
  margin-left: -10px;
  margin-right: -10px; }
  section.gallery::after {
    clear: both;
    content: "";
    display: block; }
  section.gallery .cell {
    width: 300px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -spec-transition: transform 0.5s;
    transition: transform 0.5s; }
    section.gallery .cell:hover, section.gallery .cell:active {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      -spec-transform: scale(1.05);
      transform: scale(1.05); }
    section.gallery .cell > img {
      width: 100%;
      height: auto;
      display: block;
      cursor: pointer; }
    section.gallery .cell .detail {
      display: none; }

.detail-overlay {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: none;
  opacity: 0;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -spec-overflow-scrolling: touch;
  overflow-scrolling: touch; }
  .detail-overlay .content {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
    position: relative; }
    .detail-overlay .content .controls::after {
      clear: both;
      content: "";
      display: block; }
    .detail-overlay .content .controls a.close {
      display: block;
      float: left; }
    .detail-overlay .content .controls .iterator {
      display: block;
      float: right; }
    .detail-overlay .content a.close {
      display: block;
      overflow: hidden;
      text-indent: 101%;
      white-space: nowrap;
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: url(../images/overlay-close.png) center center no-repeat;
      background-size: 19px; }
      .detail-overlay .content a.close:hover {
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        -spec-transition: transform 0.5s;
        transition: transform 0.5s;
        -webkit-transform: rotate(0.5turn);
        -moz-transform: rotate(0.5turn);
        -ms-transform: rotate(0.5turn);
        -o-transform: rotate(0.5turn);
        -spec-transform: rotate(0.5turn);
        transform: rotate(0.5turn); }
    .detail-overlay .content a.prev, .detail-overlay .content a.next {
      text-transform: uppercase;
      color: #2B3033;
      text-decoration: none;
      margin-left: 2em;
      line-height: 40px;
      cursor: pointer; }
    .detail-overlay .content h1 {
      display: inline-block;
      line-height: 1.3em; }
    .detail-overlay .content ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .detail-overlay .content ul li {
        color: #2B3033;
        margin: 0.5em 0 0.5em 1em;
        position: relative; }
        .detail-overlay .content ul li:before {
          content: '• ';
          color: #50E3C2;
          position: absolute;
          left: -1em; }
    .detail-overlay .content .shots {
      font-size: 0;
      margin-top: 30px;
      margin-left: -10px;
      margin-right: -10px; }
      .detail-overlay .content .shots .cell {
        width: 300px;
        margin: 10px;
        height: auto;
        display: inline-block;
        vertical-align: top;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
      .detail-overlay .content .shots img {
        display: block;
        width: 100%;
        height: auto !important; }
    .detail-overlay .content video {
      display: block;
      max-width: 100% !important;
      height: auto !important;
      margin: 10px 0; }

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 49px;
    line-height: 40px; } }
@media screen and (max-width: 720px) {
  div.personal .col {
    display: block;
    float: none;
    width: 100%; }
    div.personal .col:first-child > *, div.personal .col:last-child > * {
      margin-left: 0 !important;
      margin-right: 0 !important; } }
@supports (display: flex) {
  section.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    section.gallery > .cell {
      margin: 10px;
      width: calc(33.333333333% - 20px);
      height: auto; }

  .detail-overlay .content .shots {
    margin-left: 0;
    margin-right: 0;
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 10px; }
    .detail-overlay .content .shots > .cell {
      margin: 0 0 10px 0;
      width: 100% !important;
      height: auto !important; }

  @media screen and (max-width: 720px) {
    section.gallery > .cell {
      width: calc(50% - 20px); }

    .detail-overlay .content .shots {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }
  @media screen and (max-width: 480px) {
    section.gallery > .cell {
      width: calc(100% - 20px); }

    .detail-overlay .content .shots {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; } } }

/*# sourceMappingURL=style.css.map */
